body{
	margin: 10%;
	font-family: sans-serif;
	background-color: #dadada;
	color: #2f2f2f;
}
#imgs{
	width: 100%;
	position: relative;
}
#imgs div{
	padding-left: 2.5%;
	display: inline-block;
	position: absolute;
	width: 45%;
}
#imgs div:nth-child(2){
	left: 50%;
}
#imgs > div > img{
	width: 100%;
}
