@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,700');
body{
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
	font-size: 20px;
	overflow: hidden;
}
#title{
	margin-bottom: 0;
	padding-bottom: 0;
	font-weight: 700;
	color: rgb(255, 255, 255);
}
#featuring{
	margin-top: 0;
	padding-left: 2em;
	color: rgb(255, 255, 255);
}
#title:hover, #featuring:hover, .song:hover{
	color: rgb(255, 99, 99);
	font-style: italic;
}
.song{
	font-weight: 200;
	font-size: 0.9em;
	line-height: 1.3em;
	margin-bottom: 1em;
}
.artist{
	font-weight: 400;
	color: rgb(178, 226, 213);
}
.chorus{
	font-style: italic;
}
.chorus:hover{
	letter-spacing: 0.05em;
}
.container{
	display: flex;
	flex-direction: row;
	margin: 0;
}
#bgimg{
	position: fixed;
	right: 0;
	bottom: 0;
	background-image: url("bgimg.jpg");
	background-size: 100%;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
#coverimg{
	margin: 15vh auto auto auto;
	width: 35%;
	min-width: 400px;
}
#coverimg:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#lyrics_bg{
	overflow: auto;
	margin: 0 auto 0 0;
	width: 40%;
	min-width: 500px;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 0;
	padding: 10vh 0 0 50px;
}
#lyrics{
	z-index: 100;
	color: rgb(194, 194, 194);
	font-weight: 200;
	margin-bottom: 150px;
}
